.loading {
  background-color: #231815;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999;
}
.loading.loadingOpen {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s cubic-bezier(0.25, 0.07, 0.06, 0.7) 2.4s, visibility 1s cubic-bezier(0.25, 0.07, 0.06, 0.7) 2.4s;
}
.loading.loadingOpen .loading__logo {
  opacity: 1;
  visibility: visible;
  transition: opacity 2.4s cubic-bezier(0.25, 0.07, 0.06, 0.7), visibility 2.4s cubic-bezier(0.25, 0.07, 0.06, 0.7);
}
@media screen and (max-width:760px) {
  .loading.loadingOpen .sp-loading-logo-text {
    opacity: 1;
    visibility: visible;
    transition: opacity 2.4s cubic-bezier(0.25, 0.07, 0.06, 0.7), visibility 2.4s cubic-bezier(0.25, 0.07, 0.06, 0.7);
  }
}
.loading.loadingOpen .loading__text {
  opacity: 1;
  visibility: visible;
  transition: opacity 2.4s cubic-bezier(0.25, 0.07, 0.06, 0.7) 1s, visibility 2.4s cubic-bezier(0.25, 0.07, 0.06, 0.7) 1s;
}

.loading__logo {
  display: block;
  margin: 46px 60px 0;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width:760px) {
  .loading__logo {
    width: 82px;
    height: 46px;
    margin: 8px 18px 0;
  }
}

.sp-loading-logo-text {
  display: none;
}
@media screen and (max-width:760px) {
  .sp-loading-logo-text {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.1em;
    font-family: "helvetica-bold";
    padding: 10px 0px 0 24px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
  }
}

.loading__text {
  font-size: 28px;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: "helvetica-bold";
  position: absolute;
  top: 50%;
  right: 82px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width:760px) {
  .loading__text {
    font-size: 18px;
    right: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #040000;
  font-family: "A-OTF-GothicMB101Pro-Light", "HelveticaLt";
}

@font-face {
  font-family: "helvetica-bold";
  src: url("../fonts/helvetica-bold.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaLt";
  src: url("../fonts/HelveticaLt.otf") format("opentype");
}
@font-face {
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  src: url("../fonts/A-OTF-GothicMB101Pro-DeBold.otf") format("opentype");
}
@font-face {
  font-family: "A-OTF-GothicMB101Pro-Reg";
  src: url("../fonts/A-OTF-GothicMB101Pro-Reg.otf") format("opentype");
}
@font-face {
  font-family: "A-OTF-GothicMB101Pro-Light";
  src: url("../fonts/A-OTF-GothicMB101Pro-Light.otf") format("opentype");
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
@media screen and (max-width:924px) {
  .header {
    width: auto;
  }
}
.header.color-white .header__logo a::before {
  background-color: #fff;
}
.header.color-white .header__nav ul li a {
  color: #fff;
}
.header.color-white .nav__instagram a::before {
  background-color: #fff;
}
.header.color-white .hamburger__line {
  background-color: #fff;
}
.header.color-white .sp-logo-text {
  color: #fff;
}
.header.header-small .header__inner {
  padding-top: 24px;
  grid-template-columns: 162px 1fr;
}
.header.header-small .header__logo a::before {
  width: 162px;
  height: 91px;
}
@media screen and (max-width:760px) {
  .header.header-small .header__inner {
    padding: 8px 18px 0;
  }
  .header.header-small .header__logo a::before {
    width: 82px;
    height: 46px;
  }
}
.header__inner {
  margin: 0 auto;
  padding: 46px 60px 0;
  display: grid;
  grid-template-columns: 206px 1fr;
  gap: 46px;
  transition: padding 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01), grid 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}
@media screen and (max-width:924px) {
  .header__inner {
    display: block;
  }
}
@media screen and (max-width:760px) {
  .header__inner {
    padding: 8px 18px 0;
  }
}

.header__logo a {
  display: block;
  position: relative;
}
.header__logo a::before {
  content: "";
  display: block;
  width: 206px;
  height: 116px;
  background-color: #000;
  -webkit-mask-image: url(../assets/images/logo.svg);
  mask-image: url(../assets/images/logo.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: width 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01), height 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01), background-color 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}
@media screen and (max-width:760px) {
  .header__logo a::before {
    width: 82px;
    height: 46px;
  }
}

.sp-logo-text {
  display: none;
}
@media screen and (max-width:760px) {
  .sp-logo-text {
    display: inline-block;
    color: #000;
    font-size: 10px;
    letter-spacing: 0.1em;
    font-family: "helvetica-bold";
    padding: 10px 0px 0 6px;
    text-align: center;
    transition: color 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
  }
}

.header__nav {
  transition: opacity 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01), visibility 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}
@media screen and (max-width:924px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    z-index: -9999;
  }
  .header__nav.open {
    opacity: 1;
    visibility: visible;
    z-index: 999998;
  }
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 28px;
  height: 100%;
}
@media screen and (max-width:924px) {
  .header__nav ul {
    flex-direction: column;
    align-items: start;
    padding: 92px 50px 0;
    gap: 40px;
  }
}
.header__nav ul li a {
  display: block;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: "helvetica-bold";
  transition: color 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01), opacity 0.3s cubic-bezier(0.25, 0.07, 0.06, 0.7);
}
@media screen and (max-width:924px) {
  .header__nav ul li a {
    color: #fff;
  }
}
.header__nav ul li a:hover {
  opacity: 0.5;
}
.header__nav ul .sp-nav-logo {
  display: none;
}
@media screen and (max-width:924px) {
  .header__nav ul .sp-nav-logo {
    position: absolute;
    left: 24px;
    bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header__nav ul .sp-nav-logo::before {
    content: "";
    display: block;
    width: 82px;
    height: 46px;
    background-color: #fff;
    -webkit-mask-image: url(../assets/images/logo.svg);
    mask-image: url(../assets/images/logo.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  .header__nav ul .sp-nav-logo p {
    font-size: 10px;
    color: #fff;
    letter-spacing: 0.1em;
    font-family: "helvetica-bold";
  }
}

.nav__instagram a {
  display: block;
  position: relative;
}
.nav__instagram a::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: #000;
  -webkit-mask-image: url(../assets/images/icon-instagram.svg);
  mask-image: url(../assets/images/icon-instagram.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: background-color 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}
@media screen and (max-width:924px) {
  .nav__instagram a::before {
    background-color: #fff;
  }
}

.hamburger {
  display: none;
}
@media screen and (max-width:924px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 18px;
    right: 14px;
    z-index: 999999;
    display: block;
  }
  .hamburger.active .hamburger__line {
    background-color: #fff;
  }
  .hamburger.active .hamburger__line:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .hamburger.active .hamburger__line:nth-child(2) {
    transform: translateY(0px) rotate(-45deg);
  }
}

.hamburger__line {
  display: block;
  width: 23px;
  height: 1.4px;
  background-color: #000;
  margin: 4px 0;
  transition: transform 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01), background-color 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}

.page-header {
  position: relative;
}
.page-header .header__inner {
  padding: 0;
}
.page-header .page-header-nav {
  display: none;
}
@media screen and (max-width:760px) {
  .page-header .page-header-nav {
    display: block;
  }
}
@media screen and (max-width:760px) {
  .page-header .sp-logo-text-page {
    display: none;
  }
}
.page-header .header__logo {
  position: fixed;
  left: 60px;
  top: 46px;
  z-index: 999;
}
@media screen and (max-width:760px) {
  .page-header .header__logo {
    top: 24px;
    left: 24px;
  }
}
.page-header .header__logo a {
  z-index: 999;
}
.page-header .header__logo a::before {
  background-color: #fff;
}
.page-header .hamburger__line {
  background-color: #fff;
}

.footer {
  background-color: #040000;
}

.footer__inner {
  padding: 574px 82px 54px;
  position: relative;
}
@media screen and (max-width:760px) {
  .footer__inner {
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer__inner::before {
  content: "";
  background: linear-gradient(180deg, rgb(4, 0, 0) 0%, rgba(2, 2, 2, 0.25) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 1;
}

.footer__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer__content {
  position: relative;
  z-index: 1;
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr 50px;
  gap: 24px;
  justify-content: space-between;
}
@media screen and (max-width:760px) {
  .footer__content {
    display: block;
  }
}

.footer__company {
  margin-right: 142px;
}
@media screen and (max-width:760px) {
  .footer__company {
    margin-right: 0;
  }
}

.footer__title {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "A-OTF-GothicMB101Pro-Light";
  margin-bottom: 82px;
}
@media screen and (max-width:760px) {
  .footer__title {
    font-size: 13px;
    margin-bottom: 48px;
  }
}

.company__info .info__text {
  font-family: "A-OTF-GothicMB101Pro-Light";
  margin-bottom: 18px;
}
@media screen and (max-width:760px) {
  .company__info .info__text {
    font-size: 10px;
    margin-bottom: 14px;
  }
}
.company__info .info__text:nth-child(1) {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
}
@media screen and (max-width:760px) {
  .company__info .info__text:nth-child(1) {
    font-size: 10px;
  }
}

.google__map a {
  font-size: 13px;
  font-family: "A-OTF-GothicMB101Pro-Reg";
  letter-spacing: 0.1em;
  display: block;
  width: 171px;
  line-height: 34px;
  border: 1px solid #fff;
  text-align: center;
  position: relative;
}
@media screen and (max-width:760px) {
  .google__map a {
    font-size: 10px;
    width: 140px;
    line-height: 28px;
  }
}
.google__map a::before {
  content: "";
  display: block;
  width: 13px;
  height: 16px;
  background-color: #fff;
  -webkit-mask-image: url(../assets/images/icon-pin.svg);
  mask-image: url(../assets/images/icon-pin.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
@media screen and (max-width:760px) {
  .google__map a::before {
    width: 10px;
    height: 12px;
  }
}

.company__tel__email {
  margin-top: 80px;
}
@media screen and (max-width:760px) {
  .company__tel__email {
    margin-top: 46px;
  }
}
.company__tel__email p {
  margin-bottom: 22px;
}
@media screen and (max-width:760px) {
  .company__tel__email p {
    margin-bottom: 4px;
  }
}
.company__tel__email p a {
  font-size: 14px;
  letter-spacing: 0.14em;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .company__tel__email p a {
    font-size: 10px;
  }
}

.footer__service__list li {
  font-size: 14px;
  letter-spacing: 0.1em;
}
@media screen and (max-width:760px) {
  .footer__service__list li {
    font-size: 10px;
  }
}
.footer__service__list li:nth-child(even) {
  margin: 24px 0;
}
@media screen and (max-width:760px) {
  .footer__service__list li:nth-child(even) {
    margin: 12px 0;
  }
}

.sp-sns {
  display: none;
}
@media screen and (max-width:760px) {
  .sp-sns {
    display: block;
  }
  .sp-sns .footer__instagram {
    display: block;
  }
  .sp-sns .footer__instagram::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    -webkit-mask-image: url(../assets/images/icon-instagram.svg);
    mask-image: url(../assets/images/icon-instagram.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    margin: 30px 0 86px;
  }
}

@media screen and (max-width:760px) {
  .footer__sns {
    display: none;
  }
}
.footer__sns .footer__instagram {
  display: block;
}
.footer__sns .footer__instagram::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: #fff;
  -webkit-mask-image: url(../assets/images/icon-instagram.svg);
  mask-image: url(../assets/images/icon-instagram.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  margin: 0 0 0 auto;
}

.copy {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: right;
}
@media screen and (max-width:760px) {
  .copy {
    font-size: 10px;
    margin-top: 50px;
  }
}

.top {
  width: 100%;
}
.top.fixed {
  position: fixed;
  top: 0;
}
.top .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.65, 0.07, 0.06, 1.01);
}
.top .vertical-slider {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
@media screen and (max-width:760px) {
  .top .vertical-slider {
    height: 100vh;
    height: 100svh;
  }
}
.top .vertical-slider__slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: bold;
  color: #fff;
  position: relative;
}
.top .vertical-slider__slide picture {
  height: 100%;
  width: 100%;
}
.top .vertical-slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.top .progress-container {
  position: absolute;
  bottom: 72px;
  right: 35.5px;
  width: 376px;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:760px) {
  .top .progress-container {
    width: 225px;
    bottom: 54px;
    right: 20.5px;
  }
}
.top .progress-container .progress-bar {
  height: 5px;
  width: 0;
  background-color: #fff;
  position: absolute;
  top: -2.5px;
  right: 0;
}
@media screen and (max-width:760px) {
  .top .progress-container .progress-bar {
    height: 4px;
  }
}
.top .slide-number {
  position: absolute;
  bottom: 26px;
  right: 0px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  width: 35.5px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width:760px) {
  .top .slide-number {
    font-size: 10px;
    width: 21px;
    height: 60px;
  }
}
.top .slide-number span {
  display: block;
  font-family: "helvetica-bold";
}

#offZindex {
  position: absolute;
  bottom: 0;
}

.ism {
  position: relative;
  padding-top: 100vh;
  width: 100%;
}
.ism__inner {
  position: relative;
  padding-top: 432px;
  margin-top: 1px;
}
.ism__inner::after {
  content: "";
  background: linear-gradient(0deg, rgb(4, 0, 0) 0%, rgba(4, 0, 0, 0) 100%);
  width: 100%;
  height: 432px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.ism .ism__bg {
  background-color: #040000;
  padding-bottom: 440px;
}
@media screen and (max-width:760px) {
  .ism .ism__bg {
    padding-bottom: 200px;
  }
}
.ism .ism__box {
  color: #fff;
  padding-top: 442px;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width:760px) {
  .ism .ism__box {
    padding-top: 320px;
  }
}
.ism .ism__box h2 {
  font-size: 28px;
  letter-spacing: 0.44em;
  white-space: nowrap;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
}
@media screen and (max-width:760px) {
  .ism .ism__box h2 {
    font-size: 18px;
  }
}
.ism .ism__box p {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: "HelveticaLt";
}
@media screen and (max-width:760px) {
  .ism .ism__box p {
    font-size: 10px;
  }
}

.scrollOpen {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0ms linear, visibility 0ms linear;
}
.scrollOpen.visible {
  transition-delay: 0.6s;
  visibility: visible;
  opacity: 1;
}

.scrolldown1 {
  position: absolute;
  left: 50%;
  top: 432px;
  height: 138px;
  transform: translateX(-50%);
  z-index: 1;
}

.scrolldown1 span {
  position: absolute;
  left: -15px;
  top: -24px;
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}
@media screen and (max-width:760px) {
  .scrolldown1 span {
    font-size: 10px;
  }
}

.scrolldown1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #fff;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 70px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 138px;
    opacity: 0;
  }
}
.btm__nav__container {
  background: #040000;
}

.btm__nav__inner {
  padding-bottom: 348px;
}
@media screen and (max-width:760px) {
  .btm__nav__inner {
    padding-bottom: 192px;
    overflow: hidden;
  }
}

.btm__nav__box {
  width: 73.3333%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
}
@media screen and (max-width:924px) {
  .btm__nav__box {
    width: 90%;
  }
}
@media screen and (max-width:760px) {
  .btm__nav__box {
    display: none;
  }
}
.btm__nav__box li {
  height: 58vw;
  max-height: 865px;
}
.btm__nav__box li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}
.btm__nav__box li a:hover p {
  opacity: 0;
}
.btm__nav__box li a:hover img {
  transform: scale(1.05);
}
.btm__nav__box li a p {
  color: #fff;
  font-size: 26px;
  font-family: "helvetica-bold";
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 40%;
  transition: opacity 0.2s cubic-bezier(0.25, 0.07, 0.06, 0.7);
}
.btm__nav__box li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 14px;
  top: 0;
  left: 0;
  transition: transform 0.8s cubic-bezier(0.25, 0.07, 0.06, 0.7);
}

.btm__nav__box__sp {
  display: none;
}
@media screen and (max-width:760px) {
  .btm__nav__box__sp {
    display: block;
    position: relative;
  }
  .btm__nav__box__sp .swiper-slide a {
    display: block;
    width: 204px;
    height: 497px;
    margin: 0 auto;
    position: relative;
  }
  .btm__nav__box__sp .swiper-slide a p {
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #fff;
    font-family: "helvetica-bold";
    position: absolute;
    top: 82px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .btm__nav__box__sp .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-button-prev,
.swiper-button-next {
  height: 10px;
  width: 17px;
}

.swiper-button-next {
  right: 38%;
  top: 119%;
}

.swiper-button-prev {
  left: 38%;
  top: 119%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 10px;
  margin: auto;
  width: 17px;
}

.swiper-button-prev::after {
  background-image: url(../assets/images/arrow-prev.svg);
}

.swiper-button-next::after {
  background-image: url(../assets/images/arrow-next.svg);
}

.btm__nav__text__01 {
  margin-top: 34px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: "HelveticaLt";
}
@media screen and (max-width:760px) {
  .btm__nav__text__01 {
    margin-top: 138px;
    font-size: 10px;
    padding: 0 8px;
  }
}

.btm__nav__text__02 {
  margin-top: 4px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: "helvetica-bold";
}
@media screen and (max-width:760px) {
  .btm__nav__text__02 {
    font-size: 12px;
  }
}

.top__topix {
  background-color: #040000;
  padding-bottom: 40px;
}
.top__topix .top-topix-post {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  gap: 24px;
  padding: 0 82px 56px;
}
@media screen and (max-width:760px) {
  .top__topix .top-topix-post {
    display: block;
    padding: 0 20px;
  }
}
.top__topix .top-topix-post-title a {
  display: block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}
@media screen and (max-width:760px) {
  .top__topix .top-topix-post-title a {
    font-size: 12px;
    text-align: center;
    margin-bottom: 18px;
  }
}
.top__topix .top-topix-post-thumbnail {
  height: 94px;
}
@media screen and (max-width:760px) {
  .top__topix .top-topix-post-thumbnail {
    height: 56px;
  }
}
.top__topix .top-topix-post-thumbnail a {
  display: block;
  height: 100%;
  overflow: hidden;
}
.top__topix .top-topix-post-thumbnail a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.8s cubic-bezier(0.25, 0.07, 0.06, 0.7);
}
.top__topix .top-topix-post-thumbnail a img:hover {
  transform: scale(1.05);
}
.top__topix .scrollbar-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  padding-left: 66px;
}
@media screen and (max-width:760px) {
  .top__topix .scrollbar-grid {
    display: block;
    padding: 0 20px;
    margin-top: 36px;
  }
}
.top__topix .swiper-scrollbar {
  height: 0.5px;
  background-color: #fff;
  position: relative;
}
.top__topix .swiper-scrollbar .swiper-scrollbar-drag {
  height: 3px;
  background-color: #fff;
}
.top__topix .top-topix-btn {
  width: 180px;
  text-align: center;
  border: 1px solid #fff;
  transition: opacity 0.3s ease;
  margin: 42px 160px 0 auto;
}
@media screen and (max-width:760px) {
  .top__topix .top-topix-btn {
    width: 126px;
    margin: 24px 36px 0 auto;
  }
}
.top__topix .top-topix-btn:hover {
  opacity: 0.5;
}
.top__topix .top-topix-btn a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: "helvetica-bold";
  display: block;
  line-height: 42px;
}
@media screen and (max-width:760px) {
  .top__topix .top-topix-btn a {
    line-height: 30px;
    font-size: 10px;
  }
}

.flow__fv {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
}

.flow__fv__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flow__fv__inner::before {
  content: "";
  background: linear-gradient(0deg, rgb(4, 0, 0) 0%, rgba(4, 0, 0, 0) 100%);
  width: 100%;
  height: 432px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  z-index: 1;
}

.flow__fv__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.flow__fv__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page-title {
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
  letter-spacing: 0.1em;
  display: flex;
}
.page-title span {
  display: block;
  font-size: 50px;
  color: #fff;
  font-family: "helvetica-bold";
  transform: translate3d(0, 5rem, 0);
  opacity: 0;
  will-change: opacity, transform;
}
@media screen and (max-width:760px) {
  .page-title span {
    font-size: 25px;
  }
}
.page-title.openPageTitle span {
  transition-timing-function: linear, cubic-bezier(0.12, 0.86, 0.3, 1) !important;
  transition-duration: 600ms, 1400ms !important;
  transition-property: opacity, transform !important;
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
  transition-delay: var(--delay) !important;
}

.flow__contents__inner {
  padding: 384px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width:760px) {
  .flow__contents__inner {
    padding: 130px 0 110px;
  }
}

.flow__contents__title {
  font-size: 24px;
  font-family: "A-OTF-GothicMB101Pro-Light";
  color: #fff;
  letter-spacing: 0.28em;
}
@media screen and (max-width:760px) {
  .flow__contents__title {
    font-size: 14px;
  }
}

.flow__contents__text {
  font-size: 14px;
  font-family: "A-OTF-GothicMB101Pro-Light";
  color: #fff;
  letter-spacing: 0.26em;
}
@media screen and (max-width:760px) {
  .flow__contents__text {
    font-size: 10px;
  }
}

.flow__list {
  position: relative;
  padding-bottom: 880px;
}
@media screen and (max-width:760px) {
  .flow__list {
    padding-bottom: 300px;
  }
}

.flow__list__inner {
  padding: 0 182px;
}
@media screen and (max-width:924px) {
  .flow__list__inner {
    padding: 0 24px;
  }
}

.flow__list__item {
  margin-bottom: 162px;
  color: #fff;
}
@media screen and (max-width:760px) {
  .flow__list__item {
    margin-bottom: 70px;
  }
}

.flow__list__box {
  display: grid;
  grid-template-columns: 82px 1fr;
  gap: 62px;
}
@media screen and (max-width:760px) {
  .flow__list__box {
    grid-template-columns: 45px 1fr;
    gap: 28px;
  }
}

.flow__num {
  font-size: 62px;
  letter-spacing: 0.1em;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width:760px) {
  .flow__num {
    font-size: 26px;
  }
}

.flow__list__wrap {
  padding-top: 32px;
}
@media screen and (max-width:760px) {
  .flow__list__wrap {
    padding-top: 14px;
  }
}

.flow__border {
  height: 2px;
  width: 0%;
  background-color: #fff;
  position: relative;
  margin-bottom: 82px;
}
@media screen and (max-width:760px) {
  .flow__border {
    margin-bottom: 40px;
  }
}
.flow__border::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translateY(-50%);
  border-radius: 999px;
  background-color: #fff;
}
@media screen and (max-width:760px) {
  .flow__border::before {
    width: 8px;
    height: 8px;
    left: -8px;
  }
}

.flow__list__title {
  font-size: 26px;
  letter-spacing: 0.28em;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width:760px) {
  .flow__list__title {
    font-size: 12px;
    margin-left: -72px;
  }
}

.flow__list__sub {
  font-size: 14px;
  letter-spacing: 0.26em;
  font-family: "A-OTF-GothicMB101Pro-Light";
  margin: 14px 0 56px;
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width:760px) {
  .flow__list__sub {
    font-size: 10px;
    margin: 8px 0 20px;
    margin-left: -72px;
  }
}

.flow__list__text {
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 2;
  font-family: "A-OTF-GothicMB101Pro-Light";
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width:760px) {
  .flow__list__text {
    font-size: 10px;
    margin-left: -72px;
  }
}

.flow__bg {
  position: absolute;
  top: 18%;
  left: 0;
  width: 100%;
  height: 1286px;
  z-index: -1;
}
@media screen and (max-width:760px) {
  .flow__bg {
    height: 350px;
  }
}
.flow__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flow__bg__02 {
  top: 54%;
}

.page__footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width:760px) {
  .page__footer__nav {
    display: none;
  }
}
.page__footer__nav .header__logo a::before {
  background-color: #fff;
  width: 162px;
  height: 92px;
}
.page__footer__nav ul {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 48px;
}
.page__footer__nav ul li a {
  color: #fff;
  font-size: 18px;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  letter-spacing: 0.1em;
}
.page__footer__nav ul li.activeLink a {
  color: #4d4d4d;
}

.inquiry__contents__inner {
  padding: 394px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
}
@media screen and (max-width:760px) {
  .inquiry__contents__inner {
    padding: 136px 0;
    gap: 14px;
  }
}

.inquiry__tel a {
  font-size: 25px;
  font-family: "A-OTF-GothicMB101Pro-Light";
  letter-spacing: 0.28em;
  color: #fff;
}
@media screen and (max-width:760px) {
  .inquiry__tel a {
    font-size: 14px;
  }
}

.inquiry__contents__text {
  font-family: 16px;
  letter-spacing: 0.26em;
  font-family: "A-OTF-GothicMB101Pro-Light";
  color: #fff;
}
@media screen and (max-width:760px) {
  .inquiry__contents__text {
    font-size: 11px;
  }
}

.contact__form {
  padding-bottom: 654px;
}
@media screen and (max-width:760px) {
  .contact__form {
    padding-bottom: 321px;
  }
}

.contact__form__inner {
  width: 704px;
  margin: 0 auto;
}
@media screen and (max-width:760px) {
  .contact__form__inner {
    width: 100%;
    padding: 0 24px;
  }
}

.form p {
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.1em;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .form p {
    font-size: 10px;
  }
}
.form label {
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.1em;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .form label {
    font-size: 10px;
  }
}

.select__form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 146px;
  margin-bottom: 74px;
}
@media screen and (max-width:760px) {
  .select__form {
    gap: 40px;
    margin-bottom: 24px;
  }
}
.select__form p {
  line-height: 1.8;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .select__form p {
    line-height: 2.2;
  }
}

.wpcf7-list-item {
  display: block;
}

.select__title p {
  line-height: 2;
  font-family: "A-OTF-GothicMB101Pro-Light";
}

.form__item {
  margin-bottom: 72px;
}
@media screen and (max-width:760px) {
  .form__item {
    margin-bottom: 32px;
  }
}
.form__item input {
  background-color: #fff;
  height: 59px;
  width: 100%;
  color: #000;
  padding: 18px;
  margin-top: 18px;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .form__item input {
    height: 22px;
    margin-top: 12px;
  }
}
.form__item textarea {
  background-color: #fff;
  width: 100%;
  height: 373px;
  padding: 18px;
  margin-top: 18px;
  color: #000;
  font-family: "A-OTF-GothicMB101Pro-Light";
}

.wpcf7-not-valid-tip {
  margin-top: 12px;
}

span.hissu {
  display: block;
  font-size: 14px;
  margin-top: -58px;
}
@media screen and (max-width:760px) {
  span.hissu {
    font-size: 10px;
    margin-top: -21px;
  }
}

p.form__message {
  margin: 140px 0 104px;
  font-size: 14px;
  letter-spacing: 0.26em;
  line-height: 2;
}
@media screen and (max-width:760px) {
  p.form__message {
    margin: 52px 0 40px;
    font-size: 10px;
  }
}

.form__privacy {
  background-color: #fff;
  padding: 8px 32px;
  height: 375px;
  overflow: scroll;
}
@media screen and (max-width:760px) {
  .form__privacy {
    height: 144px;
    padding: 1px 24px;
  }
}
.form__privacy .form__privacy__inner {
  overflow-y: scroll;
}
.form__privacy p {
  font-size: 14px;
  color: #000;
  letter-spacing: 0.26em;
  margin: 32px 0;
  line-height: 1.8;
}
@media screen and (max-width:760px) {
  .form__privacy p {
    font-size: 10px;
    margin: 22px 0;
  }
}

.send__btn {
  margin-top: 306px;
}
@media screen and (max-width:760px) {
  .send__btn {
    margin-top: 136px;
  }
}
.send__btn p {
  background-color: #fff;
  color: #000;
  width: 440px;
  height: 116px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width:760px) {
  .send__btn p {
    width: 178px;
    height: 47px;
  }
}
.send__btn p input {
  width: 100%;
  font-size: 26px;
  letter-spacing: 0.28em;
  line-height: 116px;
  transition: opacity 0.2s ease;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
}
@media screen and (max-width:760px) {
  .send__btn p input {
    line-height: 47px;
    font-size: 12px;
  }
}
.send__btn p input:hover {
  opacity: 0.5;
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #fff !important;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  color: #fff !important;
}

.portfolio__inner {
  padding: 282px 24px 262px;
}
@media screen and (max-width:760px) {
  .portfolio__inner {
    padding: 130px 16px 92px;
  }
}
.portfolio__inner p {
  font-family: "A-OTF-GothicMB101Pro-Light";
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 3;
  text-align: center;
  color: #fff;
}
@media screen and (max-width:760px) {
  .portfolio__inner p {
    font-size: 10px;
  }
}

.portfolio__scroll {
  position: relative;
  margin: 0 auto;
  width: 1px;
  height: 395px;
}
@media screen and (max-width:760px) {
  .portfolio__scroll {
    height: 183px;
  }
}
.portfolio__scroll::before {
  content: "";
  -webkit-animation: elasticus 1.6s cubic-bezier(1, 0, 0, 1) infinite;
  animation: elasticus 1.6s cubic-bezier(1, 0, 0, 1) infinite;
  position: absolute;
  top: 0px;
  left: 50%;
  width: 1px;
  height: 395px;
  background-color: #fff;
}
@media screen and (max-width:760px) {
  .portfolio__scroll::before {
    height: 183px;
  }
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
.portfolio__posts {
  padding: 300px 0 528px;
}
@media screen and (max-width:760px) {
  .portfolio__posts {
    padding: 90px 0 164px;
  }
}

.portfolio__posts__inner {
  padding: 0 176px;
  max-width: 1480px;
  margin: 0 auto;
}
@media screen and (max-width:924px) {
  .portfolio__posts__inner {
    padding: 0 24px;
  }
}

.portfolio__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 320px;
}
@media screen and (max-width:760px) {
  .portfolio__items {
    grid-template-columns: 50%;
    justify-content: center;
    column-gap: 0px;
    row-gap: 48px;
  }
}

.archive-post-thumbnail {
  height: 56.3vw;
  max-height: 768px;
}
@media screen and (max-width:760px) {
  .archive-post-thumbnail {
    height: 93.3vw;
  }
}
.archive-post-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.archive-post-title a {
  color: #fff;
  font-size: 18px;
  font-family: "A-OTF-GothicMB101Pro-Light";
  letter-spacing: 0.2em;
  display: block;
  margin: 60px 0 16px;
}
@media screen and (max-width:760px) {
  .archive-post-title a {
    font-size: 12px;
    margin: 34px 0 10px;
  }
}
.archive-post-title p {
  color: #fff;
  font-size: 14px;
  font-family: "A-OTF-GothicMB101Pro-Light";
  letter-spacing: 0.2em;
}
@media screen and (max-width:760px) {
  .archive-post-title p {
    font-size: 10px;
  }
}

.archive-pagenation {
  margin-top: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width:760px) {
  .archive-pagenation {
    margin-top: 120px;
  }
}
.archive-pagenation .pagenation-num {
  margin: 0 20px;
}
@media screen and (max-width:760px) {
  .archive-pagenation .pagenation-num {
    margin: 0 12px;
  }
}
.archive-pagenation .pagenation-num .page-numbers {
  color: #fff;
  font-size: 18px;
  font-family: "A-OTF-GothicMB101Pro-Light";
  padding: 4px;
}
@media screen and (max-width:760px) {
  .archive-pagenation .pagenation-num .page-numbers {
    font-size: 10px;
    padding: 2px;
  }
}
.archive-pagenation .next-page,
.archive-pagenation .prev-page {
  position: relative;
}
.archive-pagenation .next-page::before,
.archive-pagenation .prev-page::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
@media screen and (max-width:760px) {
  .archive-pagenation .next-page::before,
  .archive-pagenation .prev-page::before {
    width: 16px;
    height: 16px;
  }
}
.archive-pagenation .next-page a,
.archive-pagenation .prev-page a {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
@media screen and (max-width:760px) {
  .archive-pagenation .next-page a,
  .archive-pagenation .prev-page a {
    width: 16px;
    height: 16px;
  }
}
.archive-pagenation .next-page::before {
  -webkit-mask-image: url(../assets/images/arrow.svg);
  mask-image: url(../assets/images/arrow.svg);
}
.archive-pagenation .prev-page::before {
  -webkit-mask-image: url(../assets/images/arrow.svg);
  mask-image: url(../assets/images/arrow.svg);
  transform: rotate(180deg);
}

.topix__fv {
  height: 75vh;
}
@media screen and (max-width:760px) {
  .topix__fv {
    height: 40vh;
  }
}
.topix__fv .page-title {
  margin-bottom: 15%;
}

.topix__archive__container .archive-category {
  margin-bottom: 200px;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-category {
    margin-bottom: 0;
  }
}
.topix__archive__container .archive-category ul {
  display: flex;
  gap: 52px;
  justify-content: flex-end;
  padding: 0 15% 0 0;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-category ul {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
  }
}
.topix__archive__container .archive-category ul li {
  font-size: 16px;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  letter-spacing: 0.2em;
  color: #666666;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-category ul li {
    font-size: 10px;
  }
}
.topix__archive__container .archive-category ul li a.active {
  color: #fff;
}
.topix__archive__container .archive-contents {
  max-width: 1600px;
  margin: 0 auto;
  width: 78%;
  padding-bottom: 420px;
  color: #fff;
}
.topix__archive__container .archive-contents-inner {
  padding: 124px 0 156px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3%;
}
.topix__archive__container .archive-post-topix {
  margin-bottom: 14%;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-post-topix {
    margin-bottom: 40px;
  }
}
.topix__archive__container .archive-post-topix .archive-post-thumbnail {
  margin-bottom: 24px;
  height: auto;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-post-topix .archive-post-thumbnail {
    margin-bottom: 16px;
  }
}
.topix__archive__container .archive-post-thumbnail a {
  display: block;
  position: relative;
}
.topix__archive__container .archive-post-thumbnail a:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.4s ease;
}
.topix__archive__container .archive-post-thumbnail a:hover::before {
  opacity: 0.4;
}
.topix__archive__container .archive-post-thumbnail a img {
  width: 100%;
  height: 22vw;
  object-fit: cover;
}
.topix__archive__container .archive-post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topix__archive__container .archive-post-topix .post-date {
  display: block;
  font-size: 14px;
  letter-spacing: 0.1em;
  flex-shrink: 0;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-post-topix .post-date {
    font-size: 10px;
    margin-bottom: 5px !important;
  }
}
.topix__archive__container .archive-post-topix .post-categories {
  font-size: 14px;
  color: #000;
  background-color: #fff;
  padding: 2px 8px;
  display: block;
  flex-shrink: 0;
  transition: opacity 0.2s ease;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-post-topix .post-categories {
    font-size: 10px;
  }
}
.topix__archive__container .archive-post-topix .archive-post-title {
  margin: 12px 0 0;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-post-topix .archive-post-title {
    margin-top: 8px;
  }
}
.topix__archive__container .archive-post-topix .archive-post-title a {
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  transition: opacity 0.2s ease;
  line-height: 1.4em;
  margin: 0;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-post-topix .archive-post-title a {
    font-size: 12px;
  }
}
.topix__archive__container .archive-pagenation {
  display: flex;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-pagenation {
    margin-top: 0;
  }
}
.topix__archive__container .archive-pagenation .page-numbers {
  margin: 0 12px;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  color: #b5b5b6;
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-pagenation .page-numbers {
    margin: 0 5px;
  }
}
.topix__archive__container .prev-page,
.topix__archive__container .next-page {
  font-size: 18px;
  font-weight: bold;
  color: #b5b5b6;
  letter-spacing: 0.2em;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .topix__archive__container .prev-page,
  .topix__archive__container .next-page {
    font-size: 10px;
  }
}
.topix__archive__container .prev-page::before,
.topix__archive__container .next-page::before {
  display: none;
}
.topix__archive__container .prev-page a,
.topix__archive__container .next-page a {
  width: 100%;
  height: 100%;
  position: relative;
}
.topix__archive__container .pagenation-num {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .topix__archive__container .archive-contents {
    width: 96%;
  }
  .topix__archive__container .archive-post-thumbnail a img {
    height: 27vw;
  }
}
@media screen and (max-width: 1150px) {
  .topix__archive__container .archive-post-meta {
    display: block;
  }
  .topix__archive__container .archive-post-topix .post-date {
    margin-bottom: 12px;
  }
  .topix__archive__container .archive-post-topix .post-categories {
    display: inline-block;
  }
}
@media screen and (max-width:760px) {
  .topix__archive__container .archive-contents {
    width: 86%;
    padding-bottom: 128px;
  }
  .topix__archive__container .archive-contents-inner {
    padding-top: 72px;
    padding-bottom: 132px;
    grid-template-columns: 1fr 1fr;
    gap: 1% 6%;
  }
  .topix__archive__container .archive-post-thumbnail a img {
    height: 40.42vw;
    aspect-ratio: 1;
  }
}
.single-portfolio-container {
  padding-bottom: 500px;
}
@media screen and (max-width:760px) {
  .single-portfolio-container {
    padding-bottom: 178px;
  }
}
.single-portfolio-container .single-post-title-box {
  background-color: #4d4d4d;
  width: 100%;
  padding: 164px 0 116px;
}
@media screen and (max-width:760px) {
  .single-portfolio-container .single-post-title-box {
    padding: 132px 0 38px;
  }
}
.single-portfolio-container .single-post-title-box-inner {
  margin: 0 auto;
  position: relative;
  width: fit-content;
  left: 17%;
}
@media screen and (max-width:760px) {
  .single-portfolio-container .single-post-title-box-inner {
    margin: 0;
    padding-left: 24px;
    left: initial;
  }
}
.single-portfolio-container .single-post-title {
  margin: 0 auto 10px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .single-portfolio-container .single-post-title {
    font-size: 12px;
    margin-bottom: 6px;
  }
}
.single-portfolio-container .single-post-title-sub {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2em;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .single-portfolio-container .single-post-title-sub {
    font-size: 10px;
  }
}
.single-portfolio-container .single-post-thumbnail img {
  width: 100%;
  height: auto;
}
.single-portfolio-container .single-post-content figure {
  width: 100% !important;
}
.single-portfolio-container .single-post-content img {
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
}
.single-portfolio-container .single-post-title-box-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 146px;
}
@media screen and (max-width:760px) {
  .single-portfolio-container .single-post-title-box-bottom {
    margin-top: 70px;
  }
}
.single-portfolio-container .single-post-title-box-bottom .single-post-title {
  margin: 0;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.2em;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .single-portfolio-container .single-post-title-box-bottom .single-post-title {
    font-size: 12px;
  }
}
.single-portfolio-container .single-post-title-box-bottom span {
  font-size: 18px;
  color: #fff;
  padding: 0 12px;
}
@media screen and (max-width:760px) {
  .single-portfolio-container .single-post-title-box-bottom span {
    font-size: 12px;
  }
}
.single-portfolio-container .single-post-title-box-bottom .single-post-title-sub {
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2em;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
@media screen and (max-width:760px) {
  .single-portfolio-container .single-post-title-box-bottom .single-post-title-sub {
    font-size: 10px;
  }
}

.single-post-content {
  color: #fff;
}

.single-post-content p {
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-weight: 500;
  margin-bottom: 34px;
}

.single-post-content img {
  margin-bottom: 24px;
}

.single-post-content ul {
  margin-bottom: 34px;
  margin-left: 18px;
}

.single-post-content ul li {
  list-style: disc;
  margin: 12px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-weight: 500;
}

.single-post-content h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: 0.16em;
  line-height: 1.6em;
}

.single-post-content h2 {
  font-size: 32px;
  margin-bottom: 32px;
  margin-top: 52px;
}

.single-post-content h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.single-post-content h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.single-post-content h5,
h6 {
  font-size: 18px;
  margin-bottom: 18px;
}

.single-post-content .wp-block-table {
  margin: 32px 0;
}

.single-post-content table th {
  font-weight: bold;
}

.single-post-content figcaption {
  margin-top: 6px;
}

.single-post-content .wp-block-pullquote {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.single-post-content a {
  transition: opacity 0.2s ease;
}

.single-post-content a:hover {
  opacity: 0.6;
}

.single__topix__container {
  color: #fff;
}
.single__topix__container .single-content-inner {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  padding: 86px 0 312px;
}
.single__topix__container .single-post-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
  margin-bottom: 92px;
  position: relative;
}
.single__topix__container .single-post-thumbnail {
  width: 36%;
}
.single__topix__container .single-post-thumbnail img {
  width: 100%;
  height: auto;
}
.single__topix__container .single-post-title {
  font-size: 25px;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  font-weight: bold;
  max-width: 460px;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
}
.single__topix__container .single-post-title .post-categories {
  position: absolute;
  top: 24px;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
.single__topix__container .single-post-title .post-categories a {
  background-color: #fff;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.1em;
  padding: 1px 12px;
  transition: opacity 0.2s ease;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
.single__topix__container .single-post-title .post-date {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
.single__topix__container .single-post-excerpt {
  max-width: 640px;
  margin: 0 auto;
}
.single__topix__container .single-post-excerpt p {
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  font-weight: 500;
}
.single__topix__container .single-post-content-topix {
  max-width: 640px;
  margin: 140px auto 220px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.single__topix__container #view-more {
  width: 437px;
  height: 102px;
  background-color: #000;
  text-align: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.2em;
  margin: 140px auto 0;
  display: block;
  transition: opacity 0.2s ease;
  border: 1px solid #fff;
  font-family: "A-OTF-GothicMB101Pro-Light";
}
.single__topix__container .back-button {
  width: 437px;
  margin: 106px auto 0;
}
.single__topix__container .back-button a {
  background-color: #000;
  line-height: 102px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.2em;
  display: block;
  transition: opacity 0.2s ease;
  border: 1px solid #fff;
  font-family: "A-OTF-GothicMB101Pro-Light";
}

@media screen and (max-width:760px) {
  .single__topix__container {
    font-family: "A-OTF-GothicMB101Pro-Light";
  }
  .single__topix__container .single-content-inner {
    width: 100%;
    padding: 72px 0 282px;
  }
  .single__topix__container .single-post-header {
    display: block;
  }
  .single__topix__container .single-post-thumbnail {
    width: 100%;
  }
  .single__topix__container .single-post-title {
    width: 90%;
    margin: 46px auto 82px;
    font-size: 20px;
  }
  .single__topix__container .single-post-title .post-categories {
    position: initial;
    margin-bottom: 24px;
  }
  .single__topix__container .single-post-excerpt {
    width: 90%;
  }
  .single__topix__container .single-post-content {
    width: 90%;
  }
  .single__topix__container #view-more {
    width: 86%;
    font-size: 16px;
    height: 66px;
  }
  .single__topix__container .back-button {
    width: 86%;
  }
  .single__topix__container .back-button a {
    font-size: 16px;
    height: 66px;
    line-height: 66px;
  }
}
/*# sourceMappingURL=style.css.map */