* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #040000;
}

@font-face {
  font-family: "helvetica-bold";
  src: url("../fonts/helvetica-bold.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaLt";
  src: url("../fonts/HelveticaLt.otf") format("opentype");
}
@font-face {
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  src: url("../fonts/A-OTF-GothicMB101Pro-DeBold.otf") format("opentype");
}
@font-face {
  font-family: "A-OTF-GothicMB101Pro-Light";
  src: url("../fonts/A-OTF-GothicMB101Pro-Light.otf") format("opentype");
}
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.header.color-white .header__logo a::before {
  background-color: #fff;
}
.header.color-white .header__nav ul li a {
  color: #fff;
}
.header.color-white .nav__instagram a::before {
  background-color: #fff;
}
.header__inner {
  margin: 0 auto;
  padding: 46px 60px 0;
  display: grid;
  grid-template-columns: 206px 1fr;
  gap: 46px;
}

.header__logo a {
  display: block;
  position: relative;
}
.header__logo a::before {
  content: "";
  display: block;
  width: 206px;
  height: 116px;
  background-color: #000;
  -webkit-mask-image: url(../assets/images/logo.svg);
  mask-image: url(../assets/images/logo.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: background-color 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}

.header__nav ul {
  display: flex;
  align-items: center;
  gap: 28px;
  height: 100%;
}
.header__nav ul li a {
  display: block;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-family: "helvetica-bold";
  transition: color 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}

.nav__instagram a {
  display: block;
  position: relative;
}
.nav__instagram a::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-color: #000;
  -webkit-mask-image: url(../assets/images/icon-instagram.svg);
  mask-image: url(../assets/images/icon-instagram.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: background-color 0.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}

.top {
  width: 100%;
}
.top.fixed {
  position: fixed;
  top: 0;
}
.top .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.65, 0.07, 0.06, 1.01);
}
.top .vertical-slider {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.top .vertical-slider__slide {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: bold;
  color: #fff;
  position: relative;
}
.top .vertical-slider__slide picture {
  height: 100%;
  width: 100%;
}
.top .vertical-slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.top .progress-container {
  position: absolute;
  bottom: 72px;
  right: 35.5px;
  width: 376px;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.top .progress-container .progress-bar {
  height: 5px;
  width: 0;
  background-color: #fff;
  position: absolute;
  top: -2.5px;
  right: 0;
}
.top .slide-number {
  position: absolute;
  bottom: 26px;
  right: 0px;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  width: 35.5px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top .slide-number span {
  display: block;
  font-family: "helvetica-bold";
}

#offZindex {
  position: absolute;
  bottom: 0;
}

.ism {
  position: relative;
  padding-top: 100vh;
  width: 100%;
}
.ism__inner {
  position: relative;
  padding-top: 432px;
  margin-top: 1px;
}
.ism__inner::after {
  content: "";
  background: linear-gradient(0deg, rgb(4, 0, 0) 0%, rgba(4, 0, 0, 0) 100%);
  width: 100%;
  height: 432px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.ism .ism__bg {
  background-color: #040000;
  padding-bottom: 440px;
}
.ism .ism__box {
  color: #fff;
  padding-top: 442px;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.ism .ism__box h2 {
  font-size: 28px;
  letter-spacing: 0.44em;
  white-space: nowrap;
  font-family: "A-OTF-GothicMB101Pro-DeBold";
}
.ism .ism__box p {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-family: "HelveticaLt";
}

.scrolldown1 {
  position: absolute;
  left: 50%;
  top: 432px;
  height: 138px;
  transform: translateX(-50%);
  z-index: 1;
}

.scrolldown1 span {
  position: absolute;
  left: -15px;
  top: -24px;
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

.scrolldown1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #fff;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 70px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 138px;
    opacity: 0;
  }
}
.btm__nav__container {
  background: #040000;
}

.btm__nav__inner {
  padding-bottom: 348px;
}

.btm__nav__box {
  width: 73.3333%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
}
.btm__nav__box li {
  height: 58vw;
  max-height: 865px;
}
.btm__nav__box li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}
.btm__nav__box li a:hover p {
  opacity: 0;
}
.btm__nav__box li a:hover img {
  transform: scale(1.05);
}
.btm__nav__box li a p {
  color: #fff;
  font-size: 26px;
  font-family: "helvetica-bold";
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 40%;
  transition: opacity 0.2s cubic-bezier(0.25, 0.07, 0.06, 0.7);
}
.btm__nav__box li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.8s cubic-bezier(0.25, 0.07, 0.06, 0.7);
}

.btm__nav__text__01 {
  margin-top: 34px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: "HelveticaLt";
}

.btm__nav__text__02 {
  margin-top: 4px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: "helvetica-bold";
}

.top__topix {
  background-color: #040000;
  padding-bottom: 40px;
}
.top__topix .top-topix-post {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  gap: 24px;
  padding: 0 82px 56px;
}
.top__topix .top-topix-post-title a {
  display: block;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
}
.top__topix .top-topix-post-thumbnail {
  height: 94px;
}
.top__topix .top-topix-post-thumbnail a {
  display: block;
  height: 100%;
}
.top__topix .top-topix-post-thumbnail a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.top__topix .scrollbar-grid {
  display: grid;
  grid-template-columns: 35% 65%;
  padding-left: 66px;
}
.top__topix .swiper-scrollbar {
  height: 0.5px;
  background-color: #fff;
  position: relative;
}
.top__topix .swiper-scrollbar .swiper-scrollbar-drag {
  height: 3px;
  background-color: #fff;
}
.top__topix .top-topix-btn {
  width: 180px;
  text-align: center;
  border: 1px solid #fff;
  transition: opacity 0.3s ease;
  margin: 42px 160px 0 auto;
}
.top__topix .top-topix-btn:hover {
  opacity: 0.5;
}
.top__topix .top-topix-btn a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-family: "helvetica-bold";
  display: block;
  line-height: 42px;
}
/*# sourceMappingURL=style.css.map */