@use "../setting/index" as *;

.ism {
  position: relative;
  padding-top: 100vh;
  width: 100%;
  &__inner {
    position: relative;
    padding-top: 432px;
    margin-top: 1px;
    &::after {
      content: "";
      background: linear-gradient(
        0deg,
        rgba(4, 0, 0, 1) 0%,
        rgba(4, 0, 0, 0) 100%
      );
      width: 100%;
      height: 432px;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
    }
  }
  .ism__bg {
    background-color: $color-bg;
    padding-bottom: 440px;
  }
  .ism__box {
    color: #fff;
    padding-top: 442px;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    h2 {
      font-size: 28px;
      letter-spacing: 0.44em;
      white-space: nowrap;
      font-family: $family-A-OTF-GothicMB101Pro-DeBold;
    }
    p {
      font-size: 14px;
      letter-spacing: 0.1em;
      font-family: $family-HelveticaLt;
    }
  }
}

.scrolldown1 {
  position: absolute;
  left: 50%;
  top: 432px;
  height: 138px;
  transform: translateX(-50%);
  z-index: 1;
}

.scrolldown1 span {
  position: absolute;
  left: -15px;
  top: -24px;
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

.scrolldown1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background: #fff;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity: 0;
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 70px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 138px;
    opacity: 0;
  }
}

.btm__nav__container {
  background: $color-bg;
}

.btm__nav__inner {
  padding-bottom: 348px;
}

.btm__nav__box {
  width: 73.3333%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  justify-content: center;
  li {
    height: 58vw;
    max-height: 865px;
    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 14px;
      overflow: hidden;
      &:hover {
        p {
          opacity: 0;
        }
        img {
          transform: scale(1.05);
        }
      }
      p {
        color: #fff;
        font-size: 26px;
        font-family: $family-helvetica-bold;
        letter-spacing: 0.1em;
        text-align: center;
        position: relative;
        z-index: 1;
        padding-top: 40%;
        transition: opacity 0.2s $easing-cubic-02;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.8s cubic-bezier(0.25, 0.07, 0.06, 0.7);
      }
    }
  }
}

.btm__nav__text__01 {
  margin-top: 34px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: $family-HelveticaLt;
}
.btm__nav__text__02 {
  margin-top: 4px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: $family-helvetica-bold;
}