@use "../setting/index" as *;

.top {
  width: 100%;
  &.fixed {
    position: fixed;
    top: 0;
  }
  .swiper-wrapper {
    transition-timing-function: cubic-bezier(0.65, 0.07, 0.06, 1.01);
  }

  .vertical-slider {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .vertical-slider__slide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    picture {
      height: 100%;
      width: 100%;
    }
  }

  .vertical-slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .progress-container {
    position: absolute;
    bottom: 72px;
    right: 35.5px;
    width: 376px;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.5);

    .progress-bar {
      height: 5px;
      width: 0;
      background-color: #fff;
      position: absolute;
      top: -2.5px;
      right: 0;
    }
  }

  .slide-number {
    position: absolute;
    bottom: 26px;
    right: 0px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    width: 35.5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    span {
      display: block;
      font-family: $family-helvetica-bold;
    }
  }
}

#offZindex {
  position: absolute;
  bottom: 0;
}