@use "../setting/index" as *;

.flow__fv {
  position: relative;
  width: 100%;
  height: 100vh;
}
.flow__fv__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  &::before {
    content: "";
    background: linear-gradient(0deg, rgb(4, 0, 0) 0%, rgba(4, 0, 0, 0) 100%);
    width: 100%;
    height: 432px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    z-index: 1;
  }
}
.flow__fv__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.page-title {
  position: relative;
  z-index: 2;
  margin-bottom: 24px;
  letter-spacing: 0.1em;
  display: flex;

  span {
    display: block;
    font-size: 50px;
    color: #fff;
    font-family: $family-helvetica-bold;
    transform: translate3d(0, 5rem, 0);
    opacity: 0;
    will-change: opacity, transform;
  }

  &.openPageTitle {
    span {
      transition-timing-function: linear, cubic-bezier(0.12, 0.86, 0.3, 1) !important;
      transition-duration: 600ms, 1400ms !important;
      transition-property: opacity, transform !important;
      opacity: 1 !important;
      transform: translate3d(0, 0, 0) !important;
      // CSS変数--delayは後でJSで設定します。
      transition-delay: var(--delay) !important;
    }
  }
}
