@use "../setting/index" as *;

.inquiry__contents__inner {
  padding: 394px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
  @include media(bp760) {
    padding: 136px 0;
    gap: 14px;
  }
}
.inquiry__tel {
  a {
    font-size: 25px;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    letter-spacing: 0.28em;
    color: #fff;
    @include media(bp760) {
      font-size: 14px;
    }
  }
}
.inquiry__contents__text {
  font-size: 16px;
  letter-spacing: 0.26em;
  font-family: $family-A-OTF-GothicMB101Pro-Light;
  color: #fff;
  @include media(bp760) {
    font-size: 11px;
  }
}

.contact__form {
  padding-bottom: 654px;
  @include media(bp760) {
    padding-bottom: 321px;
  }
}

.contact__form__inner {
  width: 704px;
  margin: 0 auto;
  @include media(bp760) {
    width: 100%;
    padding: 0 24px;
  }
}
.form {
  p {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.1em;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    @include media(bp760) {
      font-size: 10px;
    }
  }
  label {
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.1em;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    @include media(bp760) {
      font-size: 10px;
    }
  }
}
.select__form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 146px;
  margin-bottom: 74px;
  @include media(bp760) {
    gap: 40px;
    margin-bottom: 24px;
  }
  p {
    line-height: 1.8;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    @include media(bp760) {
      line-height: 2.2;
    }
  }
}
.wpcf7-list-item {
  display: block;
}
.select__title {
  p {
    line-height: 2;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
  }
}

.form__item {
  margin-bottom: 72px;
  @include media(bp760) {
    margin-bottom: 32px;
  }
  input {
    background-color: #fff;
    height: 59px;
    width: 100%;
    color: #000;
    padding: 18px;
    margin-top: 18px;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    @include media(bp760) {
      height: 22px;
      margin-top: 12px;
    }
  }
  textarea {
    background-color: #fff;
    width: 100%;
    height: 373px;
    padding: 18px;
    margin-top: 18px;
    color: #000;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
  }
}
.wpcf7-not-valid-tip {
  margin-top: 12px;
}

span.hissu {
  display: block;
  font-size: 14px;
  margin-top: -58px;
  @include media(bp760) {
    font-size: 10px;
    margin-top: -21px;
  }
}

p.form__message {
  margin: 140px 0 104px;
  font-size: 14px;
  letter-spacing: 0.26em;
  line-height: 2;
  @include media(bp760) {
    margin: 52px 0 40px;
    font-size: 10px;
  }
}

.form__privacy {
  background-color: #fff;
  padding: 8px 32px;
  height: 375px;
  overflow: scroll;
  @include media(bp760) {
    height: 144px;
    padding: 1px 24px;
  }
  .form__privacy__inner {
    overflow-y: scroll;
  }
  p {
    font-size: 14px;
    color: #000;
    letter-spacing: 0.26em;
    margin: 32px 0;
    line-height: 1.8;
    @include media(bp760) {
      font-size: 10px;
      margin: 22px 0;
    }
  }
}

.send__btn {
  margin-top: 306px;
  @include media(bp760) {
    margin-top: 136px;
  }
  p {
    background-color: #fff;
    color: #000;
    width: 440px;
    height: 116px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include media(bp760) {
      width: 178px;
      height: 47px;
    }
    input {
      width: 100%;
      font-size: 26px;
      letter-spacing: 0.28em;
      line-height: 116px;
      transition: opacity 0.2s ease;
      font-family: $family-A-OTF-GothicMB101Pro-DeBold;
      @include media(bp760) {
        line-height: 47px;
        font-size: 12px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.wpcf7 form.sent .wpcf7-response-output {
  color: #fff !important;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  color: #fff !important;
}
