@use "../setting/index" as *;

.footer {
  background-color: $color-bg;
}

.footer__inner {
  padding: 574px 82px 54px;
  position: relative;
  @include media(bp760) {
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &::before {
    content: "";
    background: linear-gradient(180deg, rgb(4, 0, 0) 0%, rgb(2 2 2 / 25%) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
  }
}

.footer__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.footer__content {
  position: relative;
  z-index: 1;
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr 50px;
  gap: 24px;
  justify-content: space-between;
  @include media(bp760) {
    display: block;
  }
}

.footer__company {
  margin-right: 142px;
  @include media(bp1024) {
    margin-right: 6px;
  }
  @include media(bp760) {
    margin-right: 0;
  }
}

.footer__title {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: $family-A-OTF-GothicMB101Pro-Light;
  margin-bottom: 82px;
  @include media(bp760) {
    font-size: 13px;
    margin-bottom: 48px;
  }
}

.company__info {
  .info__text {
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    margin-bottom: 18px;
    @include media(bp760) {
      font-size: 10px;
      margin-bottom: 14px;
    }
    &:nth-child(1) {
      font-size: 14px;
      letter-spacing: 0.1em;
      font-family: $family-A-OTF-GothicMB101Pro-DeBold;
      @include media(bp760) {
        font-size: 10px;
      }
    }
  }
}

.google__map {
  a {
    font-size: 13px;
    font-family: $family-A-OTF-GothicMB101Pro-Reg;
    letter-spacing: 0.1em;
    display: block;
    width: 171px;
    line-height: 34px;
    border: 1px solid #fff;
    text-align: center;
    position: relative;
    @include media(bp760) {
      font-size: 10px;
      width: 140px;
      line-height: 28px;
    }
    &::before {
      content: "";
      display: block;
      width: 13px;
      height: 16px;
      background-color: #fff;
      -webkit-mask-image: url(../assets/images/icon-pin.svg);
      mask-image: url(../assets/images/icon-pin.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 18px;
      transform: translateY(-50%);
      @include media(bp760) {
        width: 10px;
        height: 12px;
      }
    }
  }
}

.company__tel__email {
  margin-top: 80px;
  @include media(bp760) {
    margin-top: 46px;
  }
  p {
    margin-bottom: 22px;
    @include media(bp760) {
      margin-bottom: 4px;
    }
    a {
      font-size: 14px;
      letter-spacing: 0.14em;
      font-family: $family-A-OTF-GothicMB101Pro-Light;
      @include media(bp760) {
        font-size: 10px;
      }
    }
  }
}

.footer__service__list {
  li {
    font-size: 14px;
    letter-spacing: 0.1em;
    @include media(bp760) {
      font-size: 10px;
    }
    &:nth-child(even) {
      margin: 24px 0;
      @include media(bp760) {
        margin: 12px 0;
      }
    }
  }
}
.sp-sns {
  display: none;
  @include media(bp760) {
    display: block;
    .footer__instagram {
      display: block;
      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-color: #fff;
        -webkit-mask-image: url(../assets/images/icon-instagram.svg);
        mask-image: url(../assets/images/icon-instagram.svg);
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        margin: 30px 0 86px;
      }
    }
  }
}
.footer__sns {
  @include media(bp760) {
    display: none;
  }
  .footer__instagram {
    display: block;
    &::before {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      background-color: #fff;
      -webkit-mask-image: url(../assets/images/icon-instagram.svg);
      mask-image: url(../assets/images/icon-instagram.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      margin: 0 0 0 auto;
    }
  }
}

.copy {
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: right;
  @include media(bp760) {
    font-size: 10px;
    margin-top: 50px;
  }
}
