@use "../setting/index" as *;

.loading {
  background-color: #231815;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  &.loadingOpen {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.4s $easing-cubic-02 1.6s,
      visibility 1.4s $easing-cubic-02 1.6s;
    .loading__logo {
      opacity: 1;
      visibility: visible;
      transition: opacity 1.6s $easing-cubic-02,
        visibility 1.6s $easing-cubic-02;
    }
    .sp-loading-logo-text {
      @include media(bp760) {
        opacity: 1;
        visibility: visible;
        transition: opacity 1.6s $easing-cubic-02,
          visibility 1.6s $easing-cubic-02;
      }
    }
    .loading__text {
      opacity: 1;
      visibility: visible;
      transition: opacity 1.6s $easing-cubic-02 1s,
        visibility 1.6s $easing-cubic-02 1s;
    }
  }
}

.loading__logo {
  display: block;
  margin: 46px 60px 0;
  opacity: 0;
  visibility: hidden;
  @include media(bp760) {
    width: 82px;
    height: 46px;
    margin: 8px 18px 0;
  }
}

.sp-loading-logo-text {
  display: none;
  @include media(bp760) {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.1em;
    font-family: "helvetica-bold";
    padding: 10px 0px 0 24px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
  }
}

.loading__text {
  font-size: 28px;
  letter-spacing: 0.1em;
  color: #fff;
  font-family: $family-helvetica-bold;
  position: absolute;
  top: 50%;
  right: 82px;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  @include media(bp760) {
    font-size: 18px;
    right: 24px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: $color-bg;
  font-family: "A-OTF-GothicMB101Pro-Light", "HelveticaLt";
}

@font-face {
  font-family: "helvetica-bold";
  src: url("../fonts/helvetica-bold.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaLt";
  src: url("../fonts/HelveticaLt.otf") format("opentype");
}

@font-face {
  font-family: "A-OTF-GothicMB101Pro-DeBold";
  src: url("../fonts/A-OTF-GothicMB101Pro-DeBold.otf") format("opentype");
}

@font-face {
  font-family: "A-OTF-GothicMB101Pro-Reg";
  src: url("../fonts/A-OTF-GothicMB101Pro-Reg.otf") format("opentype");
}

@font-face {
  font-family: "A-OTF-GothicMB101Pro-Light";
  src: url("../fonts/A-OTF-GothicMB101Pro-Light.otf") format("opentype");
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  @include media(bp924) {
    width: auto;
  }
  &.color-white {
    .header__logo {
      a {
        &::before {
          background-color: #fff;
        }
      }
    }
    .header__nav {
      ul {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
    .nav__instagram {
      a {
        &::before {
          background-color: #fff;
        }
      }
    }
    .hamburger__line {
      background-color: #fff;
    }
    .sp-logo-text {
      color: #fff;
    }
  }
  &.header-small {
    .header__inner {
      padding-top: 24px;
      grid-template-columns: 162px 1fr;
    }
    .header__logo a::before {
      width: 162px;
      height: 91px;
    }
    @include media(bp760) {
      .header__inner {
        padding: 8px 18px 0;
      }
      .header__logo a::before {
        width: 82px;
        height: 46px;
      }
    }
  }
  &__inner {
    margin: 0 auto;
    padding: 46px 60px 0;
    display: grid;
    grid-template-columns: 206px 1fr;
    gap: 46px;
    transition: padding 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01),
      grid 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
    @include media(bp924) {
      display: block;
    }
    @include media(bp760) {
      padding: 8px 18px 0;
    }
  }
}

.header__logo {
  a {
    display: block;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 206px;
      height: 116px;
      background-color: #000;
      -webkit-mask-image: url(../assets/images/logo.svg);
      mask-image: url(../assets/images/logo.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      transition: width 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01),
        height 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01),
        background-color 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
      @include media(bp760) {
        width: 82px;
        height: 46px;
      }
    }
  }
}
.sp-logo-text {
  display: none;
  @include media(bp760) {
    display: inline-block;
    color: #000;
    font-size: 10px;
    letter-spacing: 0.1em;
    font-family: $family-helvetica-bold;
    padding: 10px 0px 0 6px;
    text-align: center;
    transition: color 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
  }
}

.header__nav {
  transition: opacity 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01),
    visibility 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
  @include media(bp924) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    background-color: rgb(0 0 0 / 80%);
    opacity: 0;
    visibility: hidden;
    z-index: -9999;
    &.open {
      opacity: 1;
      visibility: visible;
      z-index: 999998;
    }
  }
  ul {
    display: flex;
    align-items: center;
    gap: 28px;
    height: 100%;
    @include media(bp924) {
      flex-direction: column;
      align-items: start;
      padding: 92px 50px 0;
      gap: 40px;
    }
    li {
      a {
        display: block;
        font-size: 18px;
        letter-spacing: 0.1em;
        font-family: $family-helvetica-bold;
        transition: color 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01),
          opacity 0.2s $easing-cubic-02;
        @include media(bp924) {
          color: #fff;
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .sp-nav-logo {
      display: none;
      @include media(bp924) {
        position: absolute;
        left: 24px;
        bottom: 50px;
        display: flex;
        align-items: center;
        gap: 20px;
        &::before {
          content: "";
          display: block;
          width: 82px;
          height: 46px;
          background-color: #fff;
          -webkit-mask-image: url(../assets/images/logo.svg);
          mask-image: url(../assets/images/logo.svg);
          -webkit-mask-size: contain;
          mask-size: contain;
          -webkit-mask-position: center center;
          mask-position: center center;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
        }
        p {
          font-size: 10px;
          color: #fff;
          letter-spacing: 0.1em;
          font-family: $family-helvetica-bold;
        }
      }
    }
  }
}

.nav__instagram {
  a {
    display: block;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 28px;
      height: 28px;
      background-color: #000;
      -webkit-mask-image: url(../assets/images/icon-instagram.svg);
      mask-image: url(../assets/images/icon-instagram.svg);
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      transition: background-color 1.6s cubic-bezier(0.65, 0.07, 0.06, 1.01);
      @include media(bp924) {
        background-color: #fff;
      }
    }
  }
}

.hamburger {
  display: none;
  @include media(bp924) {
    display: block;
    position: fixed;
    top: 18px;
    right: 14px;
    z-index: 999999;
    display: block;
    &.active {
      .hamburger__line {
        background-color: #fff;
        &:nth-child(1) {
          transform: translateY(6px) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateY(0px) rotate(-45deg);
        }
      }
    }
  }
}

.hamburger__line {
  display: block;
  width: 23px;
  height: 1.4px;
  background-color: #000;
  margin: 4px 0;
  transition: transform 0.8s cubic-bezier(0.65, 0.07, 0.06, 1.01),
    background-color 0.8s cubic-bezier(0.65, 0.07, 0.06, 1.01);
}

.page-header {
  position: relative;
  .header__inner {
    padding: 0;
  }
  .page-header-nav {
    display: none;
    @include media(bp760) {
      display: block;
    }
  }
  .sp-logo-text-page {
    @include media(bp760) {
      display: none;
    }
  }
  .header__logo {
    position: fixed;
    left: 60px;
    top: 46px;
    z-index: 999;
    @include media(bp760) {
      top: 24px;
      left: 24px;
    }
    a {
      z-index: 999;
      &::before {
        background-color: #fff;
      }
    }
  }
  .hamburger__line {
    background-color: #fff;
  }
}
