// color
$color-bg: #040000;
// font-family
$family-helvetica-bold: "helvetica-bold";
$family-HelveticaLt: "HelveticaLt";
$family-A-OTF-GothicMB101Pro-DeBold: "A-OTF-GothicMB101Pro-DeBold";
$family-A-OTF-GothicMB101Pro-Light: "A-OTF-GothicMB101Pro-Light";
// easing
$easing-cubic: cubic-bezier(0.65, 0.07, 0.06, 1.01);
$easing-cubic-02: cubic-bezier(0.25, 0.07, 0.06, 0.7);
