@use "../setting/index" as *;

.portfolio__inner {
  padding: 282px 24px 262px;
  @include media(bp760) {
    padding: 130px 16px 92px;
  }
  p {
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    font-size: 20px;
    letter-spacing: 0.2em;
    line-height: 3;
    text-align: center;
    color: #fff;
    @include media(bp760) {
      font-size: 10px;
    }
  }
}

.portfolio__scroll {
  position: relative;
  margin: 0 auto;
  width: 1px;
  height: 395px;
  @include media(bp760) {
    height: 183px;
  }
  &::before {
    content: "";
    -webkit-animation: elasticus 2.6s cubic-bezier(1, 0, 0, 1) infinite;
    animation: elasticus 2.6s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 1px;
    height: 395px;
    background-color: #fff;
    @include media(bp760) {
      height: 183px;
    }
  }
}
@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

.portfolio__posts {
  padding: 300px 0 528px;
  @include media(bp760) {
    padding: 90px 0 164px;
  }
}
.portfolio__posts__inner {
  padding: 0 176px;
  max-width: 1480px;
  margin: 0 auto;
  @include media(bp924) {
    padding: 0 24px;
  }
}

.portfolio__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 320px;
  @include media(bp760) {
    grid-template-columns: 50%;
    justify-content: center;
    column-gap: 0px;
    row-gap: 48px;
  }
}

.archive-post-thumbnail {
  height: 56.3vw;
  max-height: 768px;
  @include media(bp760) {
    height: 93.3vw;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.archive-post-title {
  a {
    color: #fff;
    font-size: 18px;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    letter-spacing: 0.2em;
    display: block;
    margin: 60px 0 16px;
    @include media(bp760) {
      font-size: 12px;
      margin: 34px 0 10px;
    }
  }
  p {
    color: #fff;
    font-size: 14px;
    font-family: $family-A-OTF-GothicMB101Pro-Light;
    letter-spacing: 0.2em;
    @include media(bp760) {
      font-size: 10px;
    }
  }
}

.archive-pagenation {
  margin-top: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(bp760) {
    margin-top: 120px;
  }
  .pagenation-num {
    margin: 0 20px;
    @include media(bp760) {
      margin: 0 12px;
    }
    .page-numbers {
      color: #fff;
      font-size: 18px;
      font-family: $family-A-OTF-GothicMB101Pro-Light;
      padding: 4px;
      @include media(bp760) {
        font-size: 10px;
        padding: 2px;
      }
    }
  }
  .next-page,
  .prev-page {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      background-color: #fff;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      @include media(bp760) {
        width: 16px;
        height: 16px;
      }
    }
    a {
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @include media(bp760) {
        width: 16px;
        height: 16px;
      }
    }
  }
  .next-page {
    &::before {
      -webkit-mask-image: url(../assets/images/arrow.svg);
      mask-image: url(../assets/images/arrow.svg);
    }
  }
  .prev-page {
    &::before {
      -webkit-mask-image: url(../assets/images/arrow.svg);
      mask-image: url(../assets/images/arrow.svg);
      transform: rotate(180deg);
    }
  }
}
